header {
  height: 10vh;
  text-align: center;
}
main {
  background-color: white;
  text-align: center;
}
header h1 {
  padding-top: 2%;
  animation-name: header-h1;
  animation-duration: 3s;
}
@keyframes header-h1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
#main-header {
  width: 50%;
  position: relative;
  left: 25%;
}
#header-img {
  animation-name: header-img;
  animation-duration: 1s;
}
@keyframes header-img {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
#header-wht {
  bottom: 27%;
  position: absolute;
  width: 100%;
  left: 1%;
  font-size: 100%;
  animation-name: header-wht;
  animation-duration: 5s;
}
@keyframes header-wht {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#main-btn {
  margin-bottom: 10%;
  animation-name: header-btn;
  animation-duration: 8s;
  background-color: white;
  border: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: rgb(173, 173, 164);
}
@keyframes header-btn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#main-btn:hover {
  transform: translateY(5px);
}
/* 해더!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

aside {
  background-color: rgb(172, 172, 212);
  height: 100vh;
  width: 100%;
  color: white;
}
.left {
  background-color: rgb(158, 158, 211);
  width: 50%;
  height: 100%;
  float: left;
  padding: 5%;
  text-align: end;
  word-spacing: 3px;
  line-height: 1.5;
}
.right {
  background-color: rgb(136, 136, 202);
  width: 50%;
  height: 100%;
  float: right;
  padding: 5%;
  text-align: start;
  word-spacing: 3px;
  line-height: 22px;
}
aside div {
  padding: 2%;
}
aside h1 {
  font-size: 25px;
}
#big-wht {
  font-size: 50px;
}
#gost-wht {
  color: rgb(206, 201, 195);
}
@media screen and (max-width: 1250px) {
  .left {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1250px) {
  .right {
    width: 100%;
    text-align: center;
  }
}
#section-herder {
  padding: 5%;
}
#section-small {
  color: rgb(206, 201, 195);
}
section h1 {
  font-size: 20px;
}
#section-big {
  font-size: 60px;
}
#section-middle{
  display: flex;
  height: 50vh;
}
#middle-left{
  width: 60%;
  height: 50%;
}
#middle-right{
 width: 40%;
 height: 50%;
}



footer {
  background-color: antiquewhite;
}
